@using System.Threading.Tasks
@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Startup
@{
    ViewBag.CurrentPageName = AppAreaNamePageNames.Common.SimpleTasks;
}
@section Styles
    {
    <link rel="stylesheet" abp-href="/view-resources/Areas/AppAreaName/Views/_Bundles/host-list.css" asp-append-version="true" />
}

@section Scripts
    {
    <script abp-src="/view-resources/Areas/AppAreaName/Views/SimpleTasks/Index.js" asp-append-version="true"></script>
}

<div class="m-subheader ">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L("SimpleTasks")</span>
            </h3>
            <span class="m-section__sub">
                @L("SimpleTasksHeaderInfo")
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            @if (IsGranted(AppPermissions.Pages_Administration_SimpleTasks))
            {
                <button id="CreateNewSimpleTaskButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSimpleTask")</button>
            }
        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row align-items-center">
                <table id="SimpleTasksTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("SimpleTaskTitle")</th>
                            <th>@L("SimpleTaskDescription")</th>
                            <th>@L("SimpleTaskAssignedPersonName")</th>
                            <th>@L("SimpleTaskState")</th>
                            <th>@L("CreationTime")</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>
